@import "tailwindcss";

:root {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.92);
  background: #0b0d12;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  background: #0b0d12;
}
.header {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.headerInner {
  max-width: 1360px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 42px; /* isompi otsikko */
  font-weight: 800;
  color: #e6e6e6;
  margin: 0;

  letter-spacing: 1px;
}

.panel {
  border: solid 1px gray;
  padding: 13px;
  border-radius: 14px;
  background-color: grey;
}

.panelTitle {
  margin: 0;
  font-weight: 400;
  margin-bottom: 8px;
}

.leftCol {
  display: grid;
  gap: 8px;
}

.rightCol {
  height: fit-content;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
@media (min-width: 1024px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
  .rightCol {
    position: sticky;
    top: 20px;
  }
}

.addPersonPanel {
  margin-bottom: 20px;
}
