@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel {
  border: solid 1px gray;
  padding: 13px;
  border-radius: 14px;
  background-color: grey;
}

.panelTitle {
  margin: 0;
  font-weight: 400;
  margin-bottom: 8px;
}

.leftCol {
  display: grid;
  gap: 8px;
}

.rightCol {
  height: fit-content;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
@media (min-width: 1024px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
  .rightCol {
    position: sticky;
    top: 20px;
  }
}
